body {
  background-color: #202124;
  text-align: center;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #bdc1c6;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  display: inline;
  float: right;
}
li a {
  padding: 15px;
  display: block;
  text-decoration: none;
  height: 40px;
}
a:hover {
  color: white;
}
img {
  height: 100%;
  margin: 20px;
  margin-bottom: 0;
}
.form {
  padding: 20px;
}
.google-box {
  margin-bottom: 15px;
  width: 70%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 30px;
  background-color: #202124;
  background-image: image("icon.png");
  background-position: 10px 10px;
  background-repeat: none;
  padding-left: 40px;
}
